@model ProyectoFinal.Models.Comic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comic</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RutaImagen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RutaImagen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioVendedor.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioVendedor.UserName)
        </dd>
    </dl>
</div>

<hr />
<h4>Enviar Mensaje al Vendedor</h4>
<form asp-controller="Mensajes" asp-action="EnviarMensaje" method="post">
    <div class="form-group">
        <input type="hidden" name="remitenteId" value="@Model.VendedorId" />
        <label for="contenido">Mensaje:</label>
        <textarea id="contenido" name="contenido" class="form-control" rows="4" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Enviar Mensaje</button>
</form>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
